XLScope.xcodeproj/project.xcworkspace/xcuserdata/jasonliang.xcuserdatad/UserInterfaceState.xcuserstate
XLScope.xcodeproj/project.xcworkspace/xcuserdata/jasonliang.xcuserdatad/WorkspaceSettings.xcsettings
XLScope.xcodeproj/xcuserdata/jasonliang.xcuserdatad/xcdebugger/Breakpoints.xcbkptlist
XLScope.xcodeproj/xcuserdata/jasonliang.xcuserdatad/xcschemes/XLScope.xcscheme
XLScope.xcodeproj/xcuserdata/jasonliang.xcuserdatad/xcschemes/xcschememanagement.plist